@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Marcellus SC", sans-serif;
  background-image: url(https://cdn.wallpapersafari.com/33/33/THrAwV.jpg);
  color:white;
}

section,
footer,
.lower__footer {
  margin: 0 5vw;
}

section:first-of-type {
  margin: 0;
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

::-webkit-scrollbar {
  background-color: darkred;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, goldenrod, brown, goldenrod);
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}

